{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class = "box-area">
        <header>
            <div class="wrapper">
                <div class="logo">
                    <a href="#">Fun Cinema</a>
                    <a style="inset-inline: auto">{{ user.username }}</a>
                </div>
                <nav>
                    <a button type="submit" id="submit" onclick="alerted();">
                        Правила пользования</a>
                    <a href="{% url 'serials_list' %}">Главная</a>
                    <a href="{% url 'single_serial' %}">Сериалы</a>
                    <a href="{% url 'list' %}">Мои cериалы</a>
                    <a href="{% url 'login' %}">Выйти</a>
                </nav>
            </div>
        </header>
    </div>
{% block content %}
{% endblock %}
</body>
</html>