{% extends 'serials/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fun cinema</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <script src="{% static 'js/cookie.js' %}"></script>
</head>
<body>
        <div class="banner-area">
            <img src="https://img.freepik.com/free-vector/white-film-strip-background-with-text-space_1017-26105.jpg?w=2000&t=st=1671118682~exp=1671119282~hmac=e24351551145bf8275265ad1de820c10b4e63bede663666f73d96fabff3cf1e8" width="1500px" height="800px" alt="">
            <h2>Fun cinema-любимые сериалы на одном сайте</h2>
        </div>

        <div class="content-area">
            <div class="wrapper">
                <h2 class="center">О нас</h2>
                <p>
                    Всем привет! Данный сайт содержит информацию о ваших любимых сериалах в разных жанрах.
                    Вы можете прочитать информацию об актерах, рейтинге и многое другое. Этот сайт поможет вам найти не только нужный сериал,
                    но и посмотреть фавориты ваших друзей!
                    Наслаждайтесь просмотром)
                </p>
            </div>
        </div>
    </body>
</html>

</body>
</html>
{% endblock %}

