body, html{
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

h2{
    font-size: 35px;
    color: black;
    padding: 0px 300px 40px 600px;
}

.container{
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    width: 1000px;
    padding: 0px 350px 400px 200px;
}

.custom-btn {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 20px;
    background: transparent;
    cursor: pointer;
    margin-top: 10px;

}

